
.espace {
	height: 1em;
}
/*html {
	font-size: 20px !important;
}
*/

.formation{
	margin-right: 5em;
}
#main {
	background-image: url(/seigaiha/seigaiha.png);
	margin-bottom: 0em;
}
.titreDroite {
	  	background-color: #c6e5d9;

}







